# Supabase (Client)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
# Supabase (Server)
SUPABASE_PASSWORD=
SUPABASE_SECRET_KEY=
DATABASE_URL=
# Brevo
BREVO_API_KEY=
BREVO_SMTP_KEY=
BREVO_SMTP_LOGIN=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
# App
NEXT_APP_URL=
